#about {
  color: var(--secondary-color);
}

.about .min-container .about-text h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about h1::after {
  content: "who i am";
}
/* About Section CSS */

.about .about-content .image {
  width: 45%;
}
.about .about-content .image img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.about .about-content .about-text {
  width: 55%;
}
.about .about-content .about-text p {
  text-align: justify;
}
