/* Skills Section CSS */

#skills {
  color: var(--secondary-color);
  font-family: "Ubuntu", sans-serif;
}
.skills h1::after {
  content: "what i know";
}
.skill-ratio {
  display: flex;
  flex-direction: column;
}

.skill-strength::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.skill-strength {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

.h-90::before {
  width: 90%;
}
.c-70::before {
  width: 70%;
}
.j-75::before {
  width: 75%;
}

.b-90::before {
  width: 90%;
}

.r-50::before {
  width: 50%;
}

.skill-content .skill-text,
.skill-content .skill-ratio {
  width: calc(50% - 30px);
}
.skill-info {
  margin-bottom: 2vh;
}

.skill-info-text {
  display: flex;
  margin-bottom: 1vh;
  justify-content: space-between;
}
